{% extends 'base.html' %}

{% block title %}Weather API Flask App | {{weather['city_name']}}{% endblock title %}

{% include 'navbar.html' %}

{% block content %}
    {% if weather %}
        <br><br>
        <h1 class="text-center">{{weather['city_name']}}</h1>
        <br>
        <h3 class="text-center"><span class="text-black">{{weather['maxTemp']}}°</span> / <span class="text-secondary">{{weather['minTemp']}}°</span></h3>
    {% else %}
        <br><br>
        <h3 class="text-center text-warning">Are you sure you entered the city correctly?</h3>
        <p class="text-center text-secondary">Maybe city is not allowed as an API call or not in Europe 🤔</p>
        <p class="text-center text-secondary">Try again please</p>
    {% endif %}
{% endblock content %}
